body {
  margin: 0;
  padding: 0;
}

.btn {
  background: #f21b1b;
  background-image: -webkit-linear-gradient(top, #f21b1b, #cf2525);
  background-image: -moz-linear-gradient(top, #f21b1b, #cf2525);
  background-image: -ms-linear-gradient(top, #f21b1b, #cf2525);
  background-image: -o-linear-gradient(top, #f21b1b, #cf2525);
  background-image: linear-gradient(to bottom, #f21b1b, #cf2525);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #d91f1f;
  background-image: -webkit-linear-gradient(top, #d91f1f, #ed3939);
  background-image: -moz-linear-gradient(top, #d91f1f, #ed3939);
  background-image: -ms-linear-gradient(top, #d91f1f, #ed3939);
  background-image: -o-linear-gradient(top, #d91f1f, #ed3939);
  background-image: linear-gradient(to bottom, #d91f1f, #ed3939);
  text-decoration: none;
}

nav {
  height: 6rem;
  -webkit-box-shadow: 0px 4px 8px #575656da;
  -moz-box-shadow: 0px 4px 8px #575656da;
  box-shadow: 0px 4px 8px #575656da;
  z-index: 100;
}

nav a {
  margin-right: 2rem;
  font-size: large;
  font-weight: 700;
}

.logo-text {
  font-size: 2.5rem;
  margin-left: 3.5rem;
}

#slider {
  display: grid;
  place-items: center;
  margin-bottom: 2%;
  animation: animacija2 2s;
  z-index: -100;
}

.carousel-item {
  padding: 0.8% 15%;
}

.slider-img {
  width: 25%;
  border-radius: 5%;
}

.slider-buttons {
  background-color: rgba(22, 22, 22, 0.103);
}

.carousel-caption h5 {
  font-size: 3rem;
  color: grey;
}

#features {
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 7%;
  background-color: rgb(71, 71, 71);
  z-index: 1;
}

#features h1 {
  color: white;
  padding-top: 3%;
  padding-bottom: 7%;
}

#features h3 {
  color: white;
  padding: 3% 0;
}

#features p {
  color: white;
}

.dom {
  color: rgb(175, 1, 1);
  font-size: 3rem;
}

.icon {
  color: rgb(175, 1, 1);
  font-size: 4rem;
  margin-bottom: 2%;
}

.icon:hover {
  color: white;
}

#projects {
  text-align: center;
  width: 100%;
  margin-top: 3%;
}

.outer {
  width: 100%;
  position: relative;
}

#projects h2 {
  color: rgb(175, 1, 1);
}

#projects p {
  text-align: left;
}

.outer img {
  width: 90%;
  border-radius: 50%;
  border: 20px solid rgb(175, 1, 1);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inner-left {
  width: 30rem;
  height: 30rem;
}

.inner-right {
  width: 30rem;
  height: 30rem;
}

.inner2-left {
  width: 30rem;
  height: 30rem;
}

.inner2-right {
  width: 30rem;
  height: 30rem;
}

#contact {
  width: 100%;
  background: rgb(56, 56, 56);
  text-align: center;
  color: white;
  padding: 2%;
  margin-top: 3%;
}

#contact h4 {
  padding-top: 1%;
  padding-bottom: 1%;
}

#footer {
  width: 100%;
  height: 25rem;
  position: relative;
}

.footer-div {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.info {
}

.info h3 {
  color: rgb(175, 1, 1);
}

.info ul {
  list-style: none;
  margin-left: -40px;
}

.info li,
a {
  color: black;
}

.info li,
.info a:hover {
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
}

@media screen and (max-width: 580px) {
  #footer {
    margin-top: 20%;
    margin-bottom: 15%;
  }
}
@media screen and (max-width: 437px) {
  #footer {
    margin-top: 30%;
    margin-bottom: 30%;
  }
}

@media screen and (max-width: 391px) {
  #footer {
    margin-top: 40%;
    margin-bottom: 30%;
  }
}

@media screen and (max-width: 334px) {
  #footer {
    margin-top: 40%;
    margin-bottom: 30%;
  }
}

footer {
  border-top: 1px solid rgba(128, 128, 128, 0.438);
  text-align: center;
  padding: 2%;
}

@keyframes animacija2 {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
